.footer {
    width: 100%;
    display: flex; 
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 110px; 
}

.socials {
    width: auto; 
    display: grid; 
    column-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
}

.socialIcon {
    font-size: 30px;
}

.socialIcon:hover { 
    transform: scale(1.4);
}