.mainBlog {
  /* view height - navbar - page top - page bottom - footer */
  min-height: calc(100vh - 80px - 3rem - 2rem - 110px);
}

.tags {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.tags > *:not(:last-child) {
  margin-right: 10px;
}

.tagSpan {
  width: auto;
}

.tag {
  background-color: #9dd7d9;
  color: #fff;
  width: auto;
  padding: 2px 10px;
  border-radius: 4%;
}

[data-theme="dark"] .tag {
  color: #333;
}
